.card {
    height: 50vh;
    width: 100%;
    z-index: -555;
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
.input{
z-index: -123456;
}

@media all and (max-width : 778px){
    .card{
        height : auto;
        width: 100%;
        margin-bottom: 1rem !important;
    }
    .dnone{
        display: none;
    }
}