<div class="row my-5">
    <div class="col-md-4">
        
<div class="input-group">
    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
    <div class="input-group-append">
      <span class="input-group-text bg-warning text-white">@</span>
    </div>
  </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <button class="btn btn-outline-info mr-3">Add Product</button>
            <button class="btn btn-outline-info">Add Order</button>
            <button mat-button><mat-icon>home</mat-icon></button>
            <button mat-button><mat-icon>home</mat-icon></button>
            <img src="http://fastkart.webiots.co.in/storage/214/3.png" alt="img" title="img">
        </div>
    </div>
</div>

