/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spanner{
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
}


.right{
    display: block;
    margin-left: auto;
}

@media all and (max-width : 776px){
    .flex{
        flex-direction: column;
    }

    .right{
        display: block;
        width: 100%;
    }
}

